[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
*.csproj
*.sln
*.user
._.utmp
._.vscode
._Assets
._Library
._Packages
._ProjectSettings
._UserSettings
.utmp.Q3m9qz.GCU0iC
casesensitivetest
CrazyNinjaFrog.unitypackage
.utmp
.vscode